<!-- Top Info -->
<div id="title">
    <span id="track">{{trackName}}</span>
    <div id="timer">0:00</div>
    <div id="duration">{{timer}}</div>
</div>

<!-- Controls -->
<ul class="controlsOuter">
    <ul class="controlsInner">
        <li id="loading"></li>
        <li class="btn" id="playBtn" ng-click="playPause()" ng-show="!songPlaying" aria-label="Play"></li>
        <li class="btn" id="pauseBtn" ng-click="playPause()" ng-show="songPlaying" aria-label="Pause"></li>
        <li class="btn" id="prevBtn" ng-click="prevSound()" aria-label="Previous"></li>
        <li class="btn" id="nextBtn" ng-click="nextSound()" aria-label="Next"></li>
    </ul>
    <li class="btn" id="playlistBtn" ng-click="showPlaylist()" aria-label="Show Playlist"></li>
    <li class="btn" id="playLoopBtn" ng-click="playLoop()" aria-label="Loop Play"></li>
    <li class="btn" id="volumeBtn" ng-click="showVolume()"></li>
    <li class="btn" id="loop" ng-click="setLoop()" aria-label="Toggle Repeat" ng-class="{true:'repeat', false:'no-repeat'}[loop]"></li>
    <li class="btn" id="shuffle" ng-click="playlistShuffle()" aria-label="Shuffle playlist" ng-class="{'shuffleOn': shuffle}"></li>
</ul>

<!-- Progress -->
<div id="waveform" ng-show="songPlaying" ng-click="seekToTime($event)"></div>

<div id="bar" ng-hide="songPlaying"></div>
<div id="progress"></div>

<!-- Playlist -->
<div id="playlist" ng-show="playListVisible">
    <div id="list">
        <div class="list-song" index="{{$index}}" ng-repeat="song in player.playlist" ng-click="playPlaylistSong($index)">{{song.name}}</div>
    </div>
</div>

<!-- Volume -->
<div id="volume" class="fadeout" ng-click="showVolume()">
    <div id="barFull" class="bar"></div>
    <div id="barEmpty" class="bar" ng-click="setVolume($event)"></div>
    <div id="sliderBtn"></div>
</div>
